.formulario{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}
.campo{
    padding: 2%;
}
#entrada{
    display: flex;
    flex-direction: column;
}
#boton{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
label{
    width: 60%;
    margin: 0 auto;
    padding: 1%;
}
input{
    border-color: #359bdf;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#texto{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: #359bdf;
    color: white;
    border-radius: 8px;
    padding: 3%;
    width: 60%;
    margin: 0 auto;
    font: bolder;
    font-size: medium;
    cursor: pointer;
}
button:hover{
    background-color: #0c70b3c9;
}
/**Para el ojo de la contrasenia*/
.contenedor-contrasenia{
    position: relative;
    display: flex;
    align-items: center;
}

.icono-mostrar-contrasenia {
    position: absolute;
    right: 110px;
    cursor: pointer;
}

.campoRegistro{
    display: flex;
    align-items: center;
    padding: 2%;
    max-width: 400px;
}
.formularioRegistro{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    align-self: auto;
}

/* Contenedor relativo para que el submenu se posicione respecto de aquí */
.menu-boton {
  position: relative;
  display: inline-block;
}

/* Submenú escondido por defecto */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0.5rem 0;
  list-style: none;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;

  display: none;           /* lo ocultamos */
  min-width: 150px;        /* ancho mínimo */
}

/* Cada item de la lista */
.submenu li {
  padding: 0.5rem 1rem;
}

/* Link dentro del item */
.submenu li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

/* Al pasar por encima de cada item */
.submenu li:hover {
  background: #f0f0f0;
}

/* Cuando el contenedor tiene la clase .open, mostramos el submenu */
.menu-boton.open .submenu {
  display: block;
}
