.contenedorInicio{
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
}
.contenedorImagen{
    width: 50%;
    margin-right:0px;
    float:left;
    padding:50px 0px;
    text-align: center;
}
.contenedorTexto{
    width: 50%;
    margin-right:0px;
    float:left;
    padding:50px 0px;
}
/*PARA LOS TEXTOS*/
.titulo1{
    font-size:xx-large;
    color: #359bdf;
    font:bold;
    text-align: center;
    margin-bottom: 0%;
}
.titulo2{
    text-align: center;
    font-size: large;
    margin-top: 0%;
    font: bolder;
}
.titulo3{
    font-size: x-large;
    font: bolder;
}
.parrafo{
    text-align: justify;
    font-family: 'Arial';
}
.enlace{
    color: #359bdf;
}
/*Esta clase es de los inicios de sesion*/
.parrafoFinal{
    text-align: justify;
    font-family: 'Arial';
    text-align: center;
}