.pago-container {
    padding: 20px;
    text-align: center;
  }
  
  .boleta-detalle {
    background: #fff;
    border: 1px solid #ccc;
    margin: auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 8px;
  }
  
  .boleta-detalle table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  .boleta-detalle th, .boleta-detalle td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .boleta-detalle th {
    background-color: #f2f2f2;
  }
  .btn-pago {
    background-color: #3d8ac2;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    max-width: 350px;
    margin-top: 15px;
  }  
  .titulo-pago{
    display: flex;
    justify-content: center;
  }