.container{
    max-width: 60%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.contenido{
    display: flex;
    flex-direction: row;
}
.tituloPrincipal{
    font-size:xx-large;
    color: #359bdf;
    font:bold;
    margin-bottom: 0%;
}
hr{
    color: #359bdf;
}
.tituloSegundario{
    color: #359bdf;
    font-size: x-large;
}
#s1, #s3{
    text-align: center;
}
.parrafoFinal{
    margin-top: 7%;
}
.correo{
    color: #359bdf;
    text-decoration: none;
}
.parrafo{
    margin: 2%
}